@import '../mixins/typography';

.contact {
    position: relative;
    padding-block: 60px;
    background-image: url('./images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        position: absolute;
        inset: 0;
        background-color: rgba(29, 47, 48, 0.7);
        content: '';
    }

    &__wrapper {
        position: relative;
    }

    &__title {
        @include h2-bold-italic($white);

        margin-block-end: 16px;
    }

    &__description {
        @include p1-main($white);

        max-width: 825px;

        @media screen and (width <= 768px) {
            display: none;
        }
    }

    &__form {
        margin-block-start: 24px;
    }
}
