.footer {
    &__top {
        padding-block: 18px;
        background-color: $background-shade;
    }

    &__social {
        display: flex;
        justify-content: center;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        padding-block: 3px;
    }

    &__copyright {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        color: $grey;
    }
}
