.header {
    position: relative;
    display: flex;
    align-items: center;
    padding-block-start: 20px;
    padding-block-end: 20px;

    &__logo {
        display: block;
        width: 65px;
        height: 20px;
        flex-shrink: 0;

        &:focus-visible {
            outline: 1px solid $green-focus;
            outline: 2px;
        }
    }

    &__menu {
        flex-shrink: 0;
        margin-inline-start: calc((125 / 11.1) * 1%);
        margin-inline-end: calc((125 / 11.1) * 1%);

        @media screen and (width <= 768px) {
            position: absolute;
            left: 32px;
            bottom: -35px;
            width: calc(100% - 32px);
            margin-inline-start: 0;
            margin-inline-end: 0;
            z-index: 2;
            overflow: auto;
            scrollbar-width: none;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 64px;
        flex-shrink: 0;
        margin-inline-start: auto;

        @media screen and (width <= 920px) {
            gap: 32px;
        }
    }

    &__button {
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: $primary-green;

        &:hover {
            color: $green-hover;
        }

        &:focus-visible {
            outline: 1px solid $green-focus;
        }

        &:active {
            color: $green-activeclick;
        }
    }

    .logo {
        fill: $white;
    }
}


