@import './mixins/typography';

.menu {
    display: flex;
    align-items: center;
    column-gap: 64px;

    @media screen and (width <= 920px) {
        gap: 32px;
    }

    &__item:last-of-type {
        @media screen and (width <= 768px) {
            padding-inline-end: 32px;
        }
    }

    &__link {
        @include p1-main($white);
        display: block;
        width: 100%;
        white-space: nowrap;

        &:hover {
            color: $primary-green;
            transition: color 0.3s;
        }

        &:focus-visible {
            outline: 1px solid $green-focus;
        }

        &:active {
            color: $green-activeclick;
        }
    }
}
