.link {
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;

    &--green {
        color: $primary-green;

        &:hover {
            color: $green-hover;
            transition: color 0.3s;
        }

        &:focus-visible {
            outline: 1px solid $green-focus;
        }

        &:active {
            color: $green-activeclick;
        }
    }

    &--dark {
        color: $background-shade;

        &:hover {
            color: $green-activeclick;
            transition: color 0.3s;
        }

        &:focus-visible {
            outline: 1px solid $background-shade;
        }

        &:active {
            color: $background-shade;
        }
    }

    &--icon {
        display: inline-flex;
        align-items: center;
        gap: 8px;

        &:hover {
            .arrow-long {
                transform: scaleX(1.2);
                transform-origin: 0 0;
                transition: transform 0.3s;
            }
        }
    }

    .arrow-long {
        width: 43px;
        color: currentColor;
    }
}
